---
import Layout from "../layouts/Layout.astro"
import AboutMe from "../components/AboutMe"
---

<Layout>
  <section
    class="flex flex-col items-center md:flex-row-reverse md:justify-center gap-8 md:items-start py-28 bg-roza2"
  >
    <div class="mb-16 md:mb-0">
      <img src="/bojana.webp" alt="Slika Bojane" width="500px" />
    </div>
    <AboutMe />
  </section>
</Layout>
