---
import Layout from "../layouts/Layout.astro"
---

<style>
  section {
    background-image: url("/bojana.jpg");
    background-size: cover;
  }
</style>
<Layout>
  <section class="h-96 container mx-auto"></section>
</Layout>
