---
import Layout from "../layouts/Layout.astro"
import PrivacyPolicy from "../components/PrivacyPolicy"
---

<Layout>
  <section class="flex flex-col items-center my-28">
    <PrivacyPolicy />
  </section>
</Layout>
