---
import NavBar from "../components/screen/Navbar"
import Header from "../components/Header"
import { Footer } from "../components/screen/Footer"
import BackToTop from "../components/ui/BackToTop"
const { title = "Bonani" } = Astro.props
---

<!doctype html>
<style is:global>
  body {
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Poppins", sans-serif;
  }
</style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Parking 5 minuta od Zagreb Airport" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet&family=Montserrat:ital,wght@0,700;0,800;0,900;1,800&family=Poppins&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="bg-roza1">
    <Header />
    <NavBar client:load />
    <slot />
    <Footer client:only />
    <BackToTop />
  </body>
</html>

<script>
  let mybutton = document.getElementById("btn-back-to-top") as HTMLButtonElement
  window.onscroll = function (event) {
    event.preventDefault()
    scrollFunction()
  }

  function scrollFunction() {
    if (
      document.body.scrollTop > 30 ||
      document.documentElement.scrollTop > 30
    ) {
      mybutton.style.display = "block"
    } else {
      mybutton.style.display = "none"
    }
  }

  mybutton.addEventListener("click", backToTop)

  function backToTop(event: Event) {
    event.preventDefault()
    // document.body.scrollTop = 0
    // document.documentElement.scrollTop = 0
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    })
  }
</script>
